<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="../../static/assests/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <title>Contacts</title>
  </head>
  <body>
    <h3>Contact</h3>
    <div>
      <h4>View context</h4>
      <ul>
        {{#contacts}}
        <li>{{id}}: {{name}} -- ({{phone}})</li>
        {{/contacts}}
      </ul>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          {{#contacts}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{name}}</td>
            <td>{{phone}}</td>
          </tr>
          {{/contacts}}
        </tbody>
      </table>
    </div>
    <hr />
    <div>
      <h4>View Api</h4>
      <div id="grid_view">
        <div id="grid_contacts"></div>
      </div>
      <div>
        <button
          onclick='addContact({
          "id": 0,
          "name": "XXX",
          "phone": "+6016"
      })'
        >
          ADD
        </button>
      </div>
      <div>
        <ul>
          {{#data}}
          <li>{{id}}: {{name}} -- ({{phone}})</li>
          {{/data}}
        </ul>
      </div>
    </div>

    <script src="../../static/assests/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/scripts/contact.js"></script>
    <script src="../../static/scripts/index.js"></script>

    <script type="text/javascript">
      getContacts();
    </script>
  </body>
</html>
